body {
    overflow-x: hidden;
}

.container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 10px;
}

input[name="search"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}
